<% provide :page_title, 'Изменить таск' %>
<h1>Изменить таск</h1>

  <%= form_with url: "/tasks/#{@task.id}", method: :patch do |form| %>
  <div class="mb-3">
    <label for="title" class="form-label">Название</label>
    <input type="text" class="form-control" id="title" value="<%= @task.title %>" name="title">
  </div>
  <div class="mb-3">
    <label for="desc" class="form-label">Описание</label>
    
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" id="desc" name="description"><%= @task.description %></textarea>

  </div>
  <button type="submit" class="btn btn-primary">Сохранить</button>
  <% end %>