<div class="container px-4 py-5" id="hanging-icons">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
        </div>
        <div>
          <h2>Что это такое?</h2>
          <p>Приложение таск-менеджер (списки/задачи) позволяющие вам организовывать различные аспекты вашей жизни. Вы можете вести свои личные задачи или объединяться с другими пользователями и вести совместные проекты.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
        </div>
        <div>
          <h2>Как этим пользоваться?</h2>
          <p>На самом деле, как этим пользоваться решать только вам. Приложение не ограничивает вас в использовании. Вы можете объединится с друзьями в одной комнате и вести совместный проект. Абсолютно неважно что это будет. Или вы можете создать комнату "список покупок" и заполнить в ней планируемые на сегодня покупки, а потом просто при желании удалить комнату.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"></use></svg>
        </div>
        <div>
          <h2>Как это работает?</h2>
          <p>Приложение позволяет вам вести (списки/задачи) и отмечать их статус. Если вы добавите несколько людей в комнату, то можно проделегировать различные задачи.</p>
        </div>
      </div>
    </div>
  </div>