<div class="card-group mb-5">
  <div class="card">
    
    <div class="card-body">
      <h5 class="card-title">Что это такое?</h5>
      <p class="card-text">Приложение таск-менеджер (списки/задачи) позволяющие вам создавать комнаты и списки внутри них. Вы можете создавать неограниченное число комнат. В каждую комнату вы также можете добавлять неограниченное число других пользователей и ввести совместные списки. </p>
      
    </div>
  </div>
  <div class="card">
    
    <div class="card-body">
      <h5 class="card-title">Как этим пользоваться? </h5>
      <p class="card-text">На самом деле, как этим пользоваться решать только вам. Вы можете создать комнату "фильмы" и вести в ней список просмотренных или не просмотренных фильмов. Вы можете создать комнату "список покупок" и занести в нее планируемые покупки на завтра, а после просто удалить комнату. Все комнаты создаются и удаляются по нажатию одной кнопки. Или вы можете создать комнату "проект по истории", добавить в нее остальных членов вашей группы и занести в нее список задач по проекту.</p>
      
    </div>
  </div>
  <div class="card">
    
    <div class="card-body">
      <h5 class="card-title">Исходный код</h5>
      <p class="card-text">Проект с открытым исходным кодом. </strong>Исходный код доступен по ссылке - <a href="https://github.com/leonovk/opentodo">leonovk/opentodo</a></p>
      
    </div>
  </div>
</div>