<% provide :current_page, 'Главная' %>



<% if user_signed_in? %>
<h3>Ваши данные</h3>
<p> Имя: <%= current_user.name %></p>

<p> Логин: <%= current_user.login %></p>

<form action="/session" method="delete">
<button type="submit" class="btn btn-danger">Выйти</button>
</form>
<% else %>
<h1>OpenToDo</h1>
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Что это такое?
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Приложение таск-менеджер (списки/задачи) позволяющие вам создавать комнаты и списки внутри них. Вы можете создавать неограниченное число комнат. В каждую комнату вы также можете добавлять неограниченное число других пользователей и ввести совместные списки. 
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Как этим пользоваться? 
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        На самом деле, как этим пользоваться решать только вам. Вы можете создать комнату "фильмы" и вести в ней список просмотренных или не просмотренных фильмов. Вы можете создать комнату "список покупок" и занести в нее планируемые покупки на завтра, а после просто удалить комнату. Все комнаты создаются и удаляются по нажатию одной кнопки. Или вы можете создать комнату "проект по истории", добавить в нее остальных членов вашей группы и занести в нее список задач по проекту.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Исходный код
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Проект с открытым исходным кодом. </strong>Исходный код доступен по ссылке - <a href="https://github.com/leonovk/opentodo">leonovk/opentodo</a>
      </div>
    </div>
  </div>
</div>
<% end %>

<center>Code licensed MIT, Leonov Kirill 2022</center>
