<% provide :current_page, 'Главная' %>



<% if user_signed_in? %>
<h3>Ваши таски:</h3>

<%= render 'shared/tasks' %>
<%= render 'shared/taskform' %>

<% else %>

<div class="row">
 <div class="col-md-8 mx-auto" style="margin-top:50px;">

      <center><h1>Организуйте работу и жизнь.</h1></center>
      <center><h2>OpenTodo – список дел и таск-менеджер. Он позволяет организовывать работу и задачи, а также кооперироваться с друзьями или коллегами.</h2></center>
      <center><a type="button" class="btn btn-primary btn-lg mt-3 mb-5" href="/users/new">Начать организовывать</a></center>

  </div>
  </div>


  
<div class="">
<center><img src="images/demo.png" class="img-fluid mt-5 shadow-lg p-3 mb-5 bg-body rounded" alt="..." id="demo"></center>
</div>

<%= render 'shared/faq' %>

<% end %>



