<% provide :current_page, 'Главная' %>



<% if user_signed_in? %>
<h3>Ваши данные</h3>
<p> Имя: <%= current_user.name %></p>
<p> ID: <%= current_user.id %></p>
<p> Логин: <%= current_user.login %></p>

<form action="/session" method="delete">
<button type="submit" class="btn btn-danger">Выйти</button>
</form>
<% else %>
<h1>Войдите в систему</h1>
<% end %>

